@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
:root{
    --primary-color:#7C3AED;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    }

/** Navigation**/

.navigation{
    background-color:var(--primary-color);
    color: white;
    padding: 19rem;   
    border-bottom-left-radius: 1rem;
}

.navigation .nav-brand{
    font-weight: bold;
    font-size: 1.1rem;
}

.navigation .link{
    color: white;
}

.navigation .nav-pills{
    text-align: right;
}

/**Container**/
.container{
padding: 0rem 1rem;
}

/** List **/

.list-non-bullet{
    list-style-type: none;
}

.list-item-inline{
    display: inline;
}

/** links **/
.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}

/**header**/
.hero{
    padding: 2rem;    
}

.hero .hero-img{
    max-width: 350px;
    display: block;
    margin: auto;    
}

.hero .hero-heading{
    font-size: 2rem;
    color:var(--dark-gray);
    padding-top: 1rem;
    text-align: center;
}

